APP_URL="http://localhost:3000"
MONGODB_URI="mongodb://kyc:ewd49xSNok4NTQ4d@cluster0-shard-00-00.atz86.mongodb.net:27017,cluster0-shard-00-01.atz86.mongodb.net:27017,cluster0-shard-00-02.atz86.mongodb.net:27017/?ssl=true&replicaSet=atlas-dz1371-shard-0&authSource=admin&appName=Cluster0"
ALLOWED_IPS="127.0.0.1,::1"
DIDIT_API_KEY="your_didit_api_key_here"
WORKFLOW_ID="your_workflow_id_here"

